@import "tailwindcss";
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #2b2b2f;
  background: linear-gradient(135deg, #141241, rgb(55, 33, 168), #141241);
  color: #e4e6eb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #141241;
}

::-webkit-scrollbar-thumb {
  background: rgb(55, 33, 168);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 33, 168);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(55, 33, 168) #141241;
}

.NavLink,
.nav {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #141241;
  cursor: pointer;
  transition: border-color 0.25s;
}
.NavLink:hover,
.nav:hover {
  border-color: rgb(55, 33, 168);
}
.NavLink:focus,
.NavLink:focus-visible,
.nav:focus,
.nav:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
